<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js'></script>
    <script src='/javascripts/index.js'></script>
</head>
<body>
<p>Welcome <%= user.username %></p>

<form action="/auth/logout" method="POST">
    <button type="submit"> logout</button>
</form>

<div class='main'>
    <div class="chats"></div>
    <div class="messenger"></div>
    <div class="friends"></div>
</div>

</body>
</html>
