<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js'></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const myUserId = <%= user.id %>;
    </script>
    <script src='/javascripts/index.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</head>
<body>

    <header>
        <p id="username">
            <%= user.username %>
        </p>
        <form action="/auth/logout" method="POST" class="register">
            <button type="submit" class="submit"> logout</button>
        </form>
    </header>

    <div class='main'>
        <div class="chats-block">
            <div class="chats">

            </div>
            <div class="create-chat">
                create-chat
            </div>
        </div>
        <div class="messenger-block">
            <div class="messenger-header"></div>
            <div class="messages"></div>
            <div class="messanger-form">
                <textarea class="message-input" rows="1"></textarea>

                <button class="send-btn" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-send-fill" viewBox="0 0 16 16">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                    </svg></button>
            </div>
        </div>
        <div class="users-block" style="display: none">
            <div class="users-header">
                Users
            </div>
        </div>
    </div>

</body>

</html>