<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js'></script>
    <script>
        const myUserId = <%= user.id %>;
    </script>
    <script src='/javascripts/index.js'></script>
</head>
<body>

    <header>
        <p class="header">
            <%= user.username %>
        </p>

        <form action="/auth/logout" method="POST" class="register">
            <button type="submit" > logout</button>
        </form>
    </header>

    <div class='main'>
        <div class="chats-block">
            <div class="chats">

            </div>
            <div class="create-chat">
                create-chat
            </div>
        </div>
        <div class="messenger-block">
            <div class="messenger-header"></div>
            <div class="messages"></div>
            <div class="messanger-form">
                <textarea class="message-input" rows="1"></textarea>
                <button class="send-btn" type="button">Send</button>
            </div>
        </div>
        <div class="users-block" hidden>
            <div class="users-header">
                Users
            </div>
        </div>
    </div>

</body>

</html>